<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>Task Tracker</title>
</head>
<body>
    <section class="index-h1-section center">
        <h1 class="fadeIn-animation index-h1">Welcome to task tracker</h1>
    </section>
    <section class="center">
        <section class="index-a">
            <a href="/login" class="fadeIn-animation"> Login</a>
        </section>
        <section class="index-a">
            <a href="/signup" class="fadeIn-animation"> Signup</a>
        </section>   
    </section>
</body>
</html>