<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Task Tracker Sign Up</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form class="signup-form" action="/signup" method="POST">
        <section class="center">
            <h1 class="signup-h1">Crate a User Name</h1>
            <input type="text" name="userName" placeholder="User Name">
        </section>
        <section class="center">
            <h1 class="signup-h1">Email Address</h1>
            <input type="email" name="email" placeholder="Email">
        </section>
        <section class="center">
            <h1 class="signup-h1">Password</h1>
            <input type="password" name="password" placeholder="Password">
        </section>
        <section class="center">
            <h1 class="signup-h1">Confirm Password</h1> 
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
        </section>
        <section class="center">
            <h1 class="signup-h1">Submit</h1> 
            <input type="submit">
        </section> 
    </form>
</body>
</html>