
/******************************************
/* BASE STYLES
/*******************************************/
h1{
}

body {
     background-color: black;
     height:100%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

input{
     text-align: center;
     width:200px;
}

@keyframes fadeInLeft {
     0% {
          transform: translate(-50px);
          opacity: 0;
     }
     100% {
          transform: translate(0);
          opacity: 1;
     }
}
   
.fadeInLeft-animation {
     animation: 1s fadeInLeft;
}

@keyframes fadeInRight {
     0% {
          visibility: visible;
          transform: translate(50px);
          opacity: 0;
     }
     100% {
          visibility: visible;
          transform: translate(0);
          opacity: 1;
     }
}
   
.fadeInRight-animation {
     animation: 1s fadeInRight;
}

@keyframes fadeInDown {
     0% {
          transform: scale3d(.75,.75,1);
          opacity: 0;
     }
     100% {
          transform: scale3d(1,1,1);
          opacity: 1;
     }
}
   
.fadeInDown-animation {
     animation: 4s fadeInDown;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.completed{
     text-decoration: line-through;
     color: gray;
}

.not{
     text-decoration: underline;
}

.center{    
     display: flex;
     justify-content: center;
     align-items: center;
}

/******************************************
/* INDEX PAGE STYLES
/*******************************************/
.index-h1-section{
     height:70%;
     padding: 20px;
}

.index-h1{
     color:white;
     font-size: 4em;
}

.index-a{
     color:white;
     padding: 20px;
}

/******************************************
/* SIGN UP PAGE STYLES
/*******************************************/

.signup-h1{
     color:white;
     padding:20px;
     width:300px;
     text-align: center;
}

.signup-form{
     margin-top: 200px;
}

.signup-visible{
     visibility: visible !important; 
}

.signup-invisible{
     visibility: hidden;
}
/******************************************
/* LOG IN PAGE STYLES
/*******************************************/
.login-form{
     margin-top: 400px; 
}

/******************************************
/* LOG IN PAGE STYLES
/*******************************************/
.error{
     color:red;
     font:bold;
}

/******************************************
/* TODOS PAGE STYLES
/*******************************************/
.todo-h1{
     color:white;
     font:bold;
     vertical-align: top;
}

.todo-ul{
     color:white;
}

.todo-section{
     height: auto;
     text-align: center;
     padding:40px;
     width: 400px;
}

.todo-h2 {
     padding:5px 40px;
     color:white;
     width: 400px;
     text-align: center;
}

.todo-center{    
     display: flex;
     justify-content: center;
}