
/******************************************
/* BASE STYLES
/*******************************************/
h1{
}

body {
     background-color: black;
     height:1200px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

input{
     text-align: center;
     width:200px;
}

@keyframes fadeIn {
     0% {
          transform: scale3d(.75,.75,1);
          opacity: 0;
     }
     100% {
          transform: scale3d(1,1,1);;
          opacity: 1;
     }
}
   
.fadeIn-animation {
     animation: 4s fadeInDown;
}

@keyframes fadeInDown {
     0% {
          transform: scale3d(.75,.75,1);
          opacity: 0;
     }
     100% {
          transform: scale3d(1,1,1);;
          opacity: 1;
     }
}
   
.fadeInDown-animation {
     animation: 4s fadeInDown;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.completed{
     text-decoration: line-through;
     color: gray;
}

.not{
     text-decoration: underline;
}

.center{    
     display: flex;
     justify-content: center;
     align-items: center;
}

/******************************************
/* INDEX PAGE STYLES
/*******************************************/
.index-h1-section{
     height:70%;
     padding: 20px;
}

.index-h1{
     color:white;
     font-size: 4em;
}

.index-a{
     color:white;
     padding: 20px;
}



/******************************************
/* SIGN UP PAGE STYLES
/*******************************************/

.signup-h1{
     color:white;
     padding:20px;
     width:300px;
     text-align: center;
}

.signup-input{
     padding:20px;
}

.signup-form{
     margin-top: 200px;
}

